html {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

.cover {
  height: 450px;
  object-fit: cover;
}

.dropdown-item:hover {
  background-color: rgb(0, 32, 213);
}

.card:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
  cursor: pointer;
  z-index: 999;
}

#spinner {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 767px) {
  .card {
    max-width: 90%;
    margin-inline: auto;
  }

  #navItem {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  h3 {
    padding-inline: 5%;
  }
  .card {
    max-width: 290px;
  }

  #header {
    padding-inline: 5%;
  }
}

#profile-img {
  object-fit: contain;
}

#first-row {
  margin-inline: 25% 25%;
}

#second-row {
  margin-inline: 25% 25%;
}

#bi-pen {
  top: 165px;
  left: 25px;
}
